@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?8oagj");
  src: url("../fonts/icomoon.eot?8oagj#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?8oagj") format("truetype"), url("../fonts/icomoon.woff?8oagj") format("woff"), url("../fonts/icomoon.svg?8oagj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change ../fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-return:before {
  content: "\e905";
}

.icon-arrow-up:before {
  content: "\e900";
}

.icon-facebook:before {
  content: "\e902";
}

.icon-instagram:before {
  content: "\e903";
}

.icon-vk:before {
  content: "\e904";
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Regular.eot");
  /* IE9 */
  src: url("../fonts/NunitoSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans-Regular.woff") format("woff"), url("../fonts/NunitoSans-Regular.ttf") format("truetype"), url("../fonts/NunitoSans-Regular.svg#Nunito Sans") format("svg");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.eot");
  /* IE9 */
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg#Open Sans") format("svg");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-ExtraBold.eot");
  /* IE9 */
  src: url("../fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.ttf") format("truetype"), url("../fonts/OpenSans-ExtraBold.svg#Open Sans ExtraBold") format("svg");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.eot");
  /* IE9 */
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light.svg#Open Sans Light") format("svg");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.eot");
  /* IE9 */
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.svg#Open Sans") format("svg");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans SemiBold";
  src: url("../fonts/OpenSans-SemiBold.eot");
  /* IE9 */
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype"), url("../fonts/OpenSans-SemiBold.svg#Open Sans SemiBold") format("svg");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Italic.eot");
  /* IE9 */
  src: url("../fonts/NunitoSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans-Italic.woff") format("woff"), url("../fonts/NunitoSans-Italic.ttf") format("truetype"), url("../fonts/NunitoSans-Italic.svg#Nunito Sans") format("svg");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Italic.eot");
  /* IE9 */
  src: url("../fonts/Nunito-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Italic.woff") format("woff"), url("../fonts/Nunito-Italic.ttf") format("truetype"), url("../fonts/Nunito-Italic.svg#Nunito") format("svg");
  /* iOS 4.1- */
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Nunito Light";
  src: url("../fonts/Nunito-Light.eot");
  /* IE9 */
  src: url("../fonts/Nunito-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Light.woff") format("woff"), url("../fonts/Nunito-Light.ttf") format("truetype"), url("../fonts/Nunito-Light.svg#Nunito Light") format("svg");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.eot");
  /* IE9 */
  src: url("../fonts/Nunito-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Regular.woff") format("woff"), url("../fonts/Nunito-Regular.ttf") format("truetype"), url("../fonts/Nunito-Regular.svg#Nunito") format("svg");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: normal;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container-cart {
  max-width: 1109px;
  margin: 0 auto;
}

.header {
  padding-bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.51)), to(rgba(0, 0, 0, 0.51))), rgba(0, 0, 0, 0.48);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.51)), rgba(0, 0, 0, 0.48);
  padding: 25px 0;
  padding-bottom: 0;
}

.header-bottom__menu a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  color: #fff;
}

.header-bottom__menu a:hover::after, .header-bottom__menu a :focus::after {
  width: 100%;
}

.header-bottom__menu a::after {
  content: "";
  background-color: #fff;
  display: block;
  height: 2px;
  width: 0%;
  -webkit-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

.header-bottom__menu {
  margin-top: 11px;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__logo {
  max-width: 236.35px;
}

.header-top__logo img {
  width: 100%;
}

.header-top__descr {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 45px;
  color: #fff;
  width: 460px;
  line-height: 55px;
  text-align: start;
}

.header-top__descr span {
  width: 200px;
  height: 81px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 50%;
  color: #000;
  font-weight: 600;
  padding: 10px;
}

.header-top__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__number a {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #fff;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.header-top__number a:hover {
  opacity: 0.6;
}

.header-top__basket {
  margin-top: 28px;
  background: #383838;
  border: 1px solid #E3E3E3;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  position: relative;
}

.header-top__basket::after {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  background: #383838;
  border: 1px solid #E3E3E3;
  border-radius: 50%;
  right: 0;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 23px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 615px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 23px 0;
}

.basket__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 13px;
  cursor: pointer;
}

.basket__icon h5 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  position: absolute;
  color: #fff;
  /* right: 8px; */
  /* bottom: -3px; */
  z-index: 3;
  /* left: 2px; */
  right: 4px;
  bottom: -4px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}

hr {
  width: 100%;
  border: 1px solid #FFFFFF;
  margin-top: 26px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.contacts__map {
  width: 962px;
}

@media (max-width: 577px) {
  .contacts__map {
    width: 100%;
  }
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  display: none;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  -webkit-transition-duration: 0.13s;
          transition-duration: 0.13s;
  -webkit-transition-delay: 0.13s;
          transition-delay: 0.13s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner::before {
  -webkit-transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
          transform: translate3d(0, -10px, 0) rotate(-45deg);
  -webkit-transition-delay: 0.22s;
          transition-delay: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.header__menu {
  display: none;
}

/**
Ion.RangeSlider, 2.3.1
© Denis Ineshin, 2010 - 2019, IonDen.com
Build date: 2019-12-19 16:51:02
*/
.irs {
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 12px;
  font-family: Arial, sans-serif;
}

.irs-line {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none !important;
}

.irs-bar {
  position: absolute;
  display: block;
  left: 0;
  width: 0;
}

.irs-shadow {
  position: absolute;
  display: none;
  left: 0;
  width: 0;
}

.irs-handle {
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default;
  z-index: 1;
}

.irs-handle.type_last {
  z-index: 2;
}

.irs-min,
.irs-max {
  position: absolute;
  display: block;
  cursor: default;
}

.irs-min {
  left: 0;
}

.irs-max {
  right: 0;
}

.irs-from,
.irs-to,
.irs-single {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  cursor: default;
  white-space: nowrap;
}

.irs-grid {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
}

.irs-with-grid .irs-grid {
  display: block;
}

.irs-grid-pol {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 8px;
  background: #000;
}

.irs-grid-pol.small {
  height: 4px;
}

.irs-grid-text {
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  text-align: center;
  font-size: 9px;
  line-height: 9px;
  padding: 0 3px;
  color: #000;
}

.irs-disable-mask {
  position: absolute;
  display: block;
  top: 0;
  left: -1%;
  width: 102%;
  height: 100%;
  cursor: default;
  background: rgba(0, 0, 0, 0);
  z-index: 2;
}

.lt-ie9 .irs-disable-mask {
  background: #000;
  filter: alpha(opacity=0);
  cursor: not-allowed;
}

.irs-disabled {
  opacity: 0.4;
}

.irs-hidden-input {
  position: absolute !important;
  display: block !important;
  top: 0 !important;
  left: 0 !important;
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
  outline: none !important;
  z-index: -9999 !important;
  background: none !important;
  border-style: solid !important;
  border-color: transparent !important;
}

.irs--flat {
  height: 40px;
}

.irs--flat.irs-with-grid {
  height: 60px;
}

.irs--flat .irs-line {
  top: 25px;
  height: 12px;
  background-color: #e1e4e9;
  border-radius: 4px;
}

.irs--flat .irs-bar {
  top: 25px;
  height: 12px;
  background-color: #ed5565;
}

.irs--flat .irs-bar--single {
  border-radius: 4px 0 0 4px;
}

.irs--flat .irs-shadow {
  height: 1px;
  bottom: 16px;
  background-color: #e1e4e9;
}

.irs--flat .irs-handle {
  top: 22px;
  width: 16px;
  height: 18px;
  background-color: transparent;
}

.irs--flat .irs-handle > i:first-child {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background-color: #da4453;
}

.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
  background-color: #a43540;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  top: 0;
  padding: 1px 3px;
  color: #999;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  background-color: #e1e4e9;
  border-radius: 4px;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  color: white;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  background-color: #ed5565;
  border-radius: 4px;
}

.irs--flat .irs-from:before,
.irs--flat .irs-to:before,
.irs--flat .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #ed5565;
}

.irs--flat .irs-grid-pol {
  background-color: #e1e4e9;
}

.irs--flat .irs-grid-text {
  color: #999;
}

.irs--big {
  height: 55px;
}

.irs--big.irs-with-grid {
  height: 70px;
}

.irs--big .irs-line {
  top: 33px;
  height: 12px;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-50%, #ddd), color-stop(150%, white));
  background: linear-gradient(to bottom, #ddd -50%, white 150%);
  border: 1px solid #ccc;
  border-radius: 12px;
}

.irs--big .irs-bar {
  top: 33px;
  height: 12px;
  background-color: #92bce0;
  border: 1px solid #428bca;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(30%, #428bca), to(#b9d4ec));
  background: linear-gradient(to bottom, #ffffff 0%, #428bca 30%, #b9d4ec 100%);
  -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.5);
}

.irs--big .irs-bar--single {
  border-radius: 12px 0 0 12px;
}

.irs--big .irs-shadow {
  height: 1px;
  bottom: 16px;
  background-color: rgba(66, 139, 202, 0.5);
}

.irs--big .irs-handle {
  top: 25px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #cbcfd5;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(30%, #B4B9BE), to(white));
  background: linear-gradient(to bottom, white 0%, #B4B9BE 30%, white 100%);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 3px 1px white;
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 3px 1px white;
  border-radius: 30px;
}

.irs--big .irs-handle.state_hover,
.irs--big .irs-handle:hover {
  border-color: rgba(0, 0, 0, 0.45);
  background-color: #939ba7;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(30%, #919BA5), to(white));
  background: linear-gradient(to bottom, white 0%, #919BA5 30%, white 100%);
}

.irs--big .irs-min,
.irs--big .irs-max {
  top: 0;
  padding: 1px 5px;
  color: white;
  text-shadow: none;
  background-color: #9f9f9f;
  border-radius: 3px;
}

.irs--big .irs-from,
.irs--big .irs-to,
.irs--big .irs-single {
  color: white;
  text-shadow: none;
  padding: 1px 5px;
  background-color: #428bca;
  background: -webkit-gradient(linear, left top, left bottom, from(#428bca), to(#3071a9));
  background: linear-gradient(to bottom, #428bca 0%, #3071a9 100%);
  border-radius: 3px;
}

.irs--big .irs-grid-pol {
  background-color: #428bca;
}

.irs--big .irs-grid-text {
  color: #428bca;
}

.irs--modern {
  height: 55px;
}

.irs--modern.irs-with-grid {
  height: 55px;
}

.irs--modern .irs-line {
  top: 25px;
  height: 5px;
  background-color: #d1d6e0;
  background: -webkit-gradient(linear, left top, left bottom, from(#e0e4ea), to(#d1d6e0));
  background: linear-gradient(to bottom, #e0e4ea 0%, #d1d6e0 100%);
  border: 1px solid #a3adc1;
  border-bottom-width: 0;
  border-radius: 5px;
}

.irs--modern .irs-bar {
  top: 25px;
  height: 5px;
  background: #20b426;
  background: -webkit-gradient(linear, left top, left bottom, from(#20b426), to(#18891d));
  background: linear-gradient(to bottom, #20b426 0%, #18891d 100%);
}

.irs--modern .irs-bar--single {
  border-radius: 5px 0 0 5px;
}

.irs--modern .irs-shadow {
  height: 1px;
  bottom: 21px;
  background-color: rgba(209, 214, 224, 0.5);
}

.irs--modern .irs-handle {
  top: 37px;
  width: 12px;
  height: 13px;
  border: 1px solid #a3adc1;
  border-top-width: 0;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 3px 3px;
}

.irs--modern .irs-handle > i:nth-child(1) {
  position: absolute;
  display: block;
  top: -4px;
  left: 1px;
  width: 6px;
  height: 6px;
  border: 1px solid #a3adc1;
  background: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.irs--modern .irs-handle > i:nth-child(2) {
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
  left: 0;
  width: 10px;
  height: 12px;
  background: #e9e6e6;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e9e6e6));
  background: linear-gradient(to bottom, white 0%, #e9e6e6 100%);
  border-radius: 0 0 3px 3px;
}

.irs--modern .irs-handle > i:nth-child(3) {
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 3px;
  left: 3px;
  width: 4px;
  height: 5px;
  border-left: 1px solid #a3adc1;
  border-right: 1px solid #a3adc1;
}

.irs--modern .irs-handle.state_hover,
.irs--modern .irs-handle:hover {
  border-color: #7685a2;
  background: #c3c7cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(30%, #919ba5), to(#ffffff));
  background: linear-gradient(to bottom, #ffffff 0%, #919ba5 30%, #ffffff 100%);
}

.irs--modern .irs-handle.state_hover > i:nth-child(1),
.irs--modern .irs-handle:hover > i:nth-child(1) {
  border-color: #7685a2;
}

.irs--modern .irs-handle.state_hover > i:nth-child(3),
.irs--modern .irs-handle:hover > i:nth-child(3) {
  border-color: #48536a;
}

.irs--modern .irs-min,
.irs--modern .irs-max {
  top: 0;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  color: white;
  background-color: #d1d6e0;
  border-radius: 5px;
}

.irs--modern .irs-from,
.irs--modern .irs-to,
.irs--modern .irs-single {
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  background-color: #20b426;
  color: white;
  border-radius: 5px;
}

.irs--modern .irs-from:before,
.irs--modern .irs-to:before,
.irs--modern .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #20b426;
}

.irs--modern .irs-grid {
  height: 25px;
}

.irs--modern .irs-grid-pol {
  background-color: #dedede;
}

.irs--modern .irs-grid-text {
  color: silver;
  font-size: 13px;
}

.irs--sharp {
  height: 50px;
  font-size: 12px;
  line-height: 1;
}

.irs--sharp.irs-with-grid {
  height: 57px;
}

.irs--sharp .irs-line {
  top: 30px;
  height: 2px;
  background-color: black;
  border-radius: 2px;
}

.irs--sharp .irs-bar {
  top: 30px;
  height: 2px;
  background-color: #ee22fa;
}

.irs--sharp .irs-bar--single {
  border-radius: 2px 0 0 2px;
}

.irs--sharp .irs-shadow {
  height: 1px;
  bottom: 21px;
  background-color: rgba(0, 0, 0, 0.5);
}

.irs--sharp .irs-handle {
  top: 25px;
  width: 10px;
  height: 10px;
  background-color: #a804b2;
}

.irs--sharp .irs-handle > i:first-child {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #a804b2;
}

.irs--sharp .irs-handle.state_hover,
.irs--sharp .irs-handle:hover {
  background-color: black;
}

.irs--sharp .irs-handle.state_hover > i:first-child,
.irs--sharp .irs-handle:hover > i:first-child {
  border-top-color: black;
}

.irs--sharp .irs-min,
.irs--sharp .irs-max {
  color: white;
  font-size: 14px;
  line-height: 1;
  top: 0;
  padding: 3px 4px;
  opacity: 0.4;
  background-color: #a804b2;
  border-radius: 2px;
}

.irs--sharp .irs-from,
.irs--sharp .irs-to,
.irs--sharp .irs-single {
  font-size: 14px;
  line-height: 1;
  text-shadow: none;
  padding: 3px 4px;
  background-color: #a804b2;
  color: white;
  border-radius: 2px;
}

.irs--sharp .irs-from:before,
.irs--sharp .irs-to:before,
.irs--sharp .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #a804b2;
}

.irs--sharp .irs-grid {
  height: 25px;
}

.irs--sharp .irs-grid-pol {
  background-color: #dedede;
}

.irs--sharp .irs-grid-text {
  color: silver;
  font-size: 13px;
}

.irs--round {
  height: 50px;
}

.irs--round.irs-with-grid {
  height: 65px;
}

.irs--round .irs-line {
  top: 36px;
  height: 4px;
  background-color: #dee4ec;
  border-radius: 4px;
}

.irs--round .irs-bar {
  top: 36px;
  height: 4px;
  background-color: #006cfa;
}

.irs--round .irs-bar--single {
  border-radius: 4px 0 0 4px;
}

.irs--round .irs-shadow {
  height: 4px;
  bottom: 21px;
  background-color: rgba(222, 228, 236, 0.5);
}

.irs--round .irs-handle {
  top: 26px;
  width: 24px;
  height: 24px;
  border: 4px solid #006cfa;
  background-color: white;
  border-radius: 24px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 255, 0.3);
          box-shadow: 0 1px 3px rgba(0, 0, 255, 0.3);
}

.irs--round .irs-handle.state_hover,
.irs--round .irs-handle:hover {
  background-color: #f0f6ff;
}

.irs--round .irs-min,
.irs--round .irs-max {
  color: #333;
  font-size: 14px;
  line-height: 1;
  top: 0;
  padding: 3px 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single {
  font-size: 14px;
  line-height: 1;
  text-shadow: none;
  padding: 3px 5px;
  background-color: #006cfa;
  color: white;
  border-radius: 4px;
}

.irs--round .irs-from:before,
.irs--round .irs-to:before,
.irs--round .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #006cfa;
}

.irs--round .irs-grid {
  height: 25px;
}

.irs--round .irs-grid-pol {
  background-color: #dedede;
}

.irs--round .irs-grid-text {
  color: silver;
  font-size: 13px;
}

.irs--square {
  height: 50px;
}

.irs--square.irs-with-grid {
  height: 60px;
}

.irs--square .irs-line {
  top: 31px;
  height: 4px;
  background-color: #dedede;
}

.irs--square .irs-bar {
  top: 31px;
  height: 4px;
  background-color: black;
}

.irs--square .irs-shadow {
  height: 2px;
  bottom: 21px;
  background-color: #dedede;
}

.irs--square .irs-handle {
  top: 25px;
  width: 16px;
  height: 16px;
  border: 3px solid black;
  background-color: white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.irs--square .irs-handle.state_hover,
.irs--square .irs-handle:hover {
  background-color: #f0f6ff;
}

.irs--square .irs-min,
.irs--square .irs-max {
  color: #333;
  font-size: 14px;
  line-height: 1;
  top: 0;
  padding: 3px 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.irs--square .irs-from,
.irs--square .irs-to,
.irs--square .irs-single {
  font-size: 14px;
  line-height: 1;
  text-shadow: none;
  padding: 3px 5px;
  background-color: black;
  color: white;
}

.irs--square .irs-grid {
  height: 25px;
}

.irs--square .irs-grid-pol {
  background-color: #dedede;
}

.irs--square .irs-grid-text {
  color: silver;
  font-size: 11px;
}

.magnifier-thumb-wrapper {
  position: relative;
  display: block;
  top: 0;
  left: 0;
}

.magnifier-lens {
  position: absolute;
  border: solid 1px #ccc;
  z-index: 1000;
  top: 0;
  left: 0;
  overflow: hidden;
}

.magnifier-loader {
  position: absolute;
  top: 0;
  left: 0;
  border: solid 1px #ccc;
  color: #fff;
  text-align: center;
  background: transparent;
  background: rgba(50, 50, 50, 0.5);
  z-index: 1000;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F323232,endColorstr=#7F323232)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F323232,endColorstr=#7F323232);
}

.magnifier-loader-text {
  font: 13px Arial;
  margin-top: 10px;
}

.magnifier-large {
  position: absolute;
  z-index: 100;
}

.magnifier-preview {
  padding: 0;
  width: 100%;
  height: 150px;
  position: relative;
  overflow: hidden;
}

.magnifier-preview img {
  position: absolute;
  top: 0;
  left: 0;
}

.opaque {
  opacity: .5;
  filter: alpha(opacity=50);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}

.hidden {
  display: none;
}

.banner-second__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color: #000000;
  margin-bottom: 10px;
}

.banner-second__descr {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  max-width: 336px;
}

.banner-second-texts {
  position: absolute;
  right: 55px;
  top: 50%;
}

.banner-second__img {
  max-width: 1143px;
  position: relative;
}

.banner-second__img img {
  width: 100%;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 45px;
  margin-top: 26px;
}

.filter__color {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  font-weight: 400 !important;
}

.filter__title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #383838;
  margin-bottom: 20px;
}

.filter__subtitle {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #383838;
  margin-bottom: 20px;
}

.filter__subtitle span {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: #383838;
}

.filter select {
  border: 1px solid #383838;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #363434;
  cursor: pointer;
  padding: 7px;
  margin-bottom: 24px;
  width: 215px;
}

.pricing {
  position: relative;
}

.pricing__input {
  border: 0.3px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #363434;
  width: 90px;
  margin: 0 4.5px;
  text-align: center;
  padding: 5px 0;
}

.pricing label:first-child {
  position: absolute;
  left: 10px;
  top: 5px;
}

.pricing label {
  position: absolute;
  left: 52%;
  top: 5px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #AFAFAF;
}

.irs-to, .irs-max, .irs-min, .irs-from {
  display: none;
}

.irs--round .irs-handle {
  cursor: pointer;
}

.range-slider {
  margin-bottom: 35px;
}

input[type=checkbox] {
  width: 14px;
  background: #FFFFFF;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 7px;
  margin-bottom: 20px;
}

.color__form span {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  font-weight: 300;
}

.checkboxed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkboxed span:not(.filter__color) {
  margin-left: 7px;
}

summary {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #345BBE;
  cursor: pointer;
  margin-bottom: 30px;
}

.catalog-items {
  background: rgba(56, 56, 56, 0.89);
  border-radius: 40px;
  margin-right: 62px;
  margin-left: 10px;
}

.catalog-items__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-items__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog-items .item {
  padding: 5px 19px;
}

.content h1 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  color: #181818;
}

.condition-img {
  background: #345BBE;
  border-radius: 15px;
  padding: 6px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  width: 168px;
  position: absolute;
  top: 0;
  left: -3.5rem;
  text-transform: uppercase;
  height: 30px;
}

.item__img {
  position: relative;
}

.return-catalog {
  background: #FFFFFF;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  margin-top: 15px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 26px;
  color: #000000;
  padding: 12px 30px;
  display: inline-block;
  margin-bottom: 20px;
}

.return-catalog i {
  margin-right: 10px;
}

.main-item__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.main-item__information {
  border: 1px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-item__information h2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  color: #000000;
}

.main-item__img {
  max-width: 100%;
}

.main-item__article {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  color: #000000;
  margin-top: 36px;
}

.main-item__price {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  position: relative;
}

.main-item__price span {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(96, 90, 90, 0.69);
  margin-top: 23px;
  margin-left: 16px;
  margin-top: -5px;
  position: absolute;
  display: block;
  content: '';
  width: 120%;
  top: -50%;
  left: 50px;
  text-decoration: line-through;
}

.main-item__collection {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.main-item__collection img {
  max-width: 100%;
  cursor: pointer;
}

.main-item__description {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: #000000;
  margin-top: 35px;
}

.main-item__description-full {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: #000000;
  text-align: center;
  margin-top: 25px;
  line-height: 1.3;
}

.btn {
  background: #383838;
  border-radius: 7px;
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #FFFFFF;
  padding: 20px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.btn:hover {
  opacity: 0.9;
}

.add__basket {
  margin-top: 35px;
}

.best-catalog {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 40px;
  margin-top: 830px;
  padding: 24px 0 51px 0;
}

.best-catalog__title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}

.best-catalog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.best-catalog__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
  margin-top: 24px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.best-catalog__column:hover {
  opacity: 0.9;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.best-catalog__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #E9E9E9;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.best-catalog__img {
  max-width: 350px;
}

.best-catalog__img img {
  width: 100%;
}

.card__img {
  max-width: 350px;
}

.card__img img {
  width: 100%;
}

.card__title {
  padding: 40px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #383838;
}

.application__card {
  padding: 39px;
  margin-top: 56px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 40px;
}

.application__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.application__img {
  max-width: 318px;
  margin-right: 82px;
}

.application__img img {
  width: 100%;
  border-radius: 20px;
}

.application__title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.application__subtitle {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 6px;
}

.application__form {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.application__form input {
  background: #FFFFFF;
  border-radius: 5px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  color: #000000;
  width: 440px;
  height: 55px;
  text-align: center;
}

.application__form input:focus::-webkit-input-placeholder {
  visibility: hidden;
}

.application__form input:focus::-moz-placeholder {
  visibility: hidden;
}

.application__form input:focus:-ms-input-placeholder {
  visibility: hidden;
}

.application__form input:focus::-ms-input-placeholder {
  visibility: hidden;
}

.application__form input:focus::placeholder {
  visibility: hidden;
}

.application__form button {
  background: #FFFFFF;
  border-radius: 5px;
  width: 181px;
  height: 55px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #000000;
  margin-left: 30px;
  text-align: center;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.application__form button:hover {
  opacity: 0.9;
}

.best {
  margin-top: 56px;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 40px;
  padding: 20px 0;
}

.best__title {
  text-align: center;
}

.best__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 22px;
  margin: 0 -14px;
}

.best__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 14px;
}

.item {
  background: #E3E3E3;
  -webkit-box-shadow: 0px 2px 12px rgba(113, 113, 113, 0.25);
          box-shadow: 0px 2px 12px rgba(113, 113, 113, 0.25);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 23px 0;
}

.item__new {
  position: absolute;
  background: #345BBE;
  border-radius: 20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 36px;
  height: 168px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  top: -60px;
  text-transform: uppercase;
}

.item__new span {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-family: Open Sans;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  color: #FFFFFF;
  display: block;
}

.item__img {
  position: relative;
  max-width: 221px;
}

.item__img img {
  width: 100%;
}

.item__title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #383838;
  width: 294px;
  margin-top: 9px;
  line-height: 27px;
}

.item__available {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #10A600;
}

.item__unavailable {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #F73C41;
}

.item__price {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #1E1E1E;
  margin-top: 8px;
}

.item__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  padding-bottom: 26px;
}

.item__more {
  background: #383838;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  font-family: Open Sans;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  width: 143px;
  margin-right: 11px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.item__more:hover {
  opacity: 0.9;
}

.item__buy {
  background: #FFFFFF;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Open Sans;
  font-size: 18px;
  color: #383838;
  width: 143px;
  height: 45px;
  margin-left: 11px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.item__buy:hover {
  background-color: #383838;
  color: #fff;
}

.item__buy:disabled {
  background: #FFBEBE;
}

.all {
  font-family: Open Sans;
  font-size: 18px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 25px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.footer {
  margin-top: 46px;
  background: rgba(0, 0, 0, 0.81);
  padding: 16px 0 32px 0;
  position: relative;
}

.footer__up {
  width: 40px;
  height: 42px;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 35px;
  cursor: pointer;
  position: absolute;
  left: 45px;
  top: 16px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.footer__up:hover {
  background: #303030;
  color: #fff;
  border: 1px solid #fff;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 16px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
  margin: 0 auto;
}

.footer__link {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  text-align: center;
}

.footer__link:hover {
  opacity: 0.5;
}

.footer__link:first-child {
  margin-right: 70px;
}

.footer__link:nth-child(2) {
  margin-right: 140px;
  margin-left: 111px;
}

.footer__social {
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social a {
  width: 44px;
  height: 44px;
  background: #E3E3E3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 28px;
  color: rgba(0, 0, 0, 0.81);
  margin: 25.5px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.footer__social a:hover {
  background: #303030;
  color: #fff;
  border: 2px solid #fff;
}

.footer__copyright {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #FFFFFF;
}

@media (max-width: 992px) {
  .background {
    display: none;
  }
  .header-top__descr {
    display: none;
  }
  .best-catalog {
    margin-top: 0px;
  }
}

@media (max-width: 769px) {
  .container {
    padding: 0 30px;
  }
  .hamburger, .burger {
    display: none;
  }
  .header__menu {
    display: none;
  }
  .best-catalog {
    margin-top: 35px;
  }
  .application__img {
    margin-right: 0;
  }
  .application__title {
    font-size: 26px;
  }
  .application__subtitle {
    font-size: 17px;
  }
  .best__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .item__buttons {
    padding: 16px;
  }
  .banner-second-texts {
    right: 12px;
  }
  .banner-second__title {
    font-size: 23px;
  }
  .banner-second__descr {
    display: none;
  }
  .catalog-items__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cart-grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .container-cart {
    padding: 0 20px;
  }
  .main-item__description-full {
    font-size: 17px;
  }
}

@media (max-width: 577px) {
  .header-top__number {
    display: none;
  }
  .header-bottom__menu a {
    font-size: 16.5px;
  }
  .best-catalog__title {
    font-size: 20px;
    margin-top: 13px;
  }
  .application__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .application__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .application__form input {
    padding: 10px;
    width: 100%;
    height: auto;
    font-size: 13px;
  }
  .application__form button {
    width: 100%;
    margin-top: 15px;
    margin-left: 0;
    height: auto;
    padding: 10px 0;
    font-size: 16px;
  }
  .application__title {
    font-size: 20px;
    line-height: 35px;
  }
  .application__img {
    margin-bottom: 10px;
  }
  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__menu li {
    margin-bottom: 20px;
  }
  .footer__menu li a {
    font-size: 16px;
  }
  .footer__link:first-child {
    margin-right: 0;
  }
  .banner-second__title {
    font-size: 11px;
  }
  .banner-second-texts {
    right: 9px;
  }
  .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
  }
  .catalog-items {
    margin-right: 0;
    margin-left: 0;
  }
  .filter {
    width: 100%;
    padding: 0 30px;
  }
  .filter select {
    width: 100%;
  }
  .pricing__input {
    margin: 10px 0;
    width: 100%;
  }
  .cart__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cart__start {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart__texts {
    margin-top: 10px;
    text-align: center;
    width: auto;
  }
  .cart__texts h3 {
    width: 100% !important;
    margin-left: 0;
  }
  .cart__price {
    font-size: 16px !important;
  }
  .cart__delete {
    margin-left: 0;
  }
  .cart__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart__price {
    margin: 15px 0 !important;
    text-align: center;
    display: block;
  }
  .cart__delete::before {
    display: none !important;
  }
  .cart__delete {
    margin-left: 0 !important;
  }
  .cart__texts {
    margin-left: 0 !important;
  }
  .cart-grid {
    gap: 0 !important;
  }
  .all {
    font-size: 16px;
  }
  .main-item__content {
    grid-template-columns: repeat(1, 1fr);
  }
  .main-item__description-full {
    padding-bottom: 25px;
  }
  .best-catalog__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .best-catalog__column {
    display: initial;
  }
  .container {
    padding: 0 30px;
  }
  .best__column {
    padding: 0;
  }
  .application__card {
    padding: 39px 15px;
  }
  .item__buy {
    width: 120px;
  }
  .item__more {
    width: 120px;
  }
  .item__title {
    text-align: center;
    margin-bottom: 15px;
  }
  .card__title {
    padding: 20px;
  }
  .best__column {
    display: initial;
    padding-bottom: 0;
  }
  .footer__up {
    left: 26px;
  }
  .footer__copyright {
    text-align: center;
  }
  .header-bottom__menu {
    text-align: center;
    margin: 0 5px;
  }
  .item__buttons {
    padding: 0px;
    padding-bottom: 26px;
  }
  .best__row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .catalog-items .item {
    padding: 0;
  }
}

.cart {
  padding: 50px 0 100px 0;
}

.cart h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #505050;
  margin-bottom: 25px;
}

.cart-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.cart__items {
  grid-column: 1 / span 2;
}

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 795px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #ECF0FA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 25px;
}

.cart__start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__texts {
  margin-left: 24px;
}

.cart__texts h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #505050;
  margin-bottom: 15px;
  width: 342px;
}

.cart__texts p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #8F8F8F;
}

.cart__delete {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #345BBE;
  margin-top: 32px;
  position: relative;
  display: block;
  margin-left: 18px;
}

.cart__delete::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 22px;
  background: #C4C4C4;
  display: block;
  left: -20px;
  top: 0;
}

.cart__price {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #345BBE;
}

.cart__total .btn {
  width: 100%;
}

.cart__count-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #505050;
}

.cart__total-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 36px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #505050;
}

.cart__total-items p {
  color: #345BBE;
  font-weight: 600;
}

.cart__total h2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #505050;
  margin-top: 30px;
}

.cart__start input[type='checkbox'] {
  width: 24px;
  height: 24px;
  background: #000;
  color: #000;
  cursor: pointer;
}

.cart__count {
  border: 1px solid #31AC80;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #525252;
  text-align: center;
}

.cart__count button {
  background: #31AC80;
  cursor: pointer;
}

.cart__count .minus button {
  width: 12px;
  height: 2px;
  margin-right: 15px;
}

.cart__count .plus, .cart__count .minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.cart__count .plus button {
  width: 12px;
  height: 2px;
  margin-left: 15px;
}

.cart__count .plus button::after {
  content: '';
  background: #31AC80;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 12px;
  height: 2px;
  top: 0;
  left: 0;
  display: block;
}

.conditions {
  padding: 59px 0 103px 0;
}

.conditions h1 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 37px;
  color: #181818;
}

.conditions p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #3A3A3A;
  margin-top: 28px;
  max-width: 750px;
}

.contacts {
  padding: 90px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.contacts h1 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 37px;
  color: #181818;
  margin-bottom: 50px;
}

.contacts__text {
  margin-top: 52px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #3A3A3A;
}

.contacts__text p {
  margin: 10px 0;
}
